/* Reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-size: 62.5%;
    text-align: center;
    color: #000000;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Container */
#container {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

/* Clearfloat */
.clearfloat {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

/* Header */
#header {
    margin-top: 10px;
    background-image: url("../images/logo.png");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#header h1 {
    margin-top: 10px;
    font-size: 100px;
}

/* Navigation */
#nav {
    width: 100%;
    background-color: #ffffff; /* Add a background color to make it visible */
}

#nav ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    text-align: center;
}

#nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}

#nav li a {
    text-decoration: none;
    color: inherit;
}

#nav li a:hover {
    text-decoration: none;
    color: #8d4d50;
}

#nav li.current {
    color: #8d4d50;
}

/* Content */
#content {
    width: 100%;
    margin-top: 120px; /* Adjusted to make space for the fixed header */
    font: 1.2em Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 300px;
}

#content iframe {
    margin-bottom: 20px;
}

/* Paragraph 1 */
#para1 {
    margin: 0 auto;
    width: 800px;
    text-align: left;
    font-size: 20px;
}

#para1 img {
    float: left;
    margin-right: 20px;
    border: solid 5px black;
}

/* Paragraph 2 */
#para2 h1 {
    font-size: 20px;
}

#para2 img {
    margin: 30px;
}

/* Images */
#imgs {
    width: 100%;
    height: 100%;
}

/* Footer */
#footer {
    width: 100%;
    height: 100px;
    background-color: #8d4d50;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    padding-top: 20px;
}

#footer p {
    padding-top: 20px;
    color: black;
    font-size: 15px;
}
